.live-wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100vw;
  height: 100vh;

  pointer-events: none;
}

.main-page {
  display: flex;
  flex-direction: column;

  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;

  height: 100vh;
}

.welcome-section,
.obs-section,
.form-section {
  display: flex;
  flex-shrink: 0;

  scroll-snap-align: start;

  position: relative;

  height: 100vh;
  width: 100%;
}

.welcome-section {
  

  background-color: rgba(222, 23, 195, 0.356);
}

.obs-section {
  background-color: rgba(222, 23, 195, 0.356);
}

.obs-box {

}

.form-section {
  background-color: rgba(222, 23, 195, 0.356);
}

.form-box {

}

.form-group {

}

.after-form {

}

.submit-reminder {
 
}

.scroll-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;

  transform: translateX(-50%);

  font-size: 32px;
  color: aqua;
  user-select: none;

  text-shadow:
    -40px 0 0 aqua,
    40px 0 0 aqua;

  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-15px);
  }
  60% {
    transform: translateX(-50%) translateY(-7px);
  }
}

@media (max-width: 768px) {
  .welcome-page {
    font-size: 18px;
    padding: 20px;
  }

  .obs-box,
  .form-box {
    height: auto;
    max-width: 85vh;
    width: 90%;
    aspect-ratio: auto;

    padding: 25px;
    overflow-y: auto;
  }

  .obs-box {
    font-size: 20px;
  }

  .form-box {
    flex-direction: column;
    justify-content: start;
  }

  .form-group {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    padding: 10px;
  }

  .form-group input,
  .form-group select {
    width: auto;
    font-size: 14px;
  }
}