:root {
  --phi: 1.6180339887498948482;
  --base-height: 700px
}

.main-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: linear-gradient(to bottom, rgb(86, 86, 255), violet);
  color: white;

  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.welcome-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-shrink: 0;
  text-align: center;

  font-size: 25px;
}

.obs-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.obs-box {
  height: var(--base-height);
  aspect-ratio: 1 / var(--phi);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  color: white;
  text-align: center;
  font-size: 27px;

  background-color: red;
  border: 4px solid yellow;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.form-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-shrink: 0;

}

.form-box {
  height: var(--base-height);
  aspect-ratio: 1 / var(--phi);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 5px;

  border: 5px solid rgb(0, 150, 13);
  background-color: lightblue;
  border-radius: 10px;
  
  color: black;
}

.form-group {
  height: calc(var(--base-height) / 10);
  aspect-ratio: 1 / var(--phi);

  display: flex;
  align-items: center;

  border: 2px solid black;
  background-color: lightsalmon;
  width: 200px;
  border-radius: 10px;
  
  color: black;
}

.after-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.submit-reminder {
  font-size: 14px;
}

@media (max-width: 768px) {
  .welcome-page {
    font-size: 18px;
    padding: 20px;
  }

  .obs-box,
  .form-box {
    height: auto;
    max-width: 85vh;
    width: 90%;
    aspect-ratio: auto;

    padding: 25px;
    overflow-y: auto;
  }

  .obs-box {
    font-size: 20px;
  }

  .form-box {
    flex-direction: column;
    justify-content: start;
  }

  .form-group {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    padding: 10px;
  }

  .form-group input,
  .form-group select {
    width: auto;
    font-size: 14px;
  }
}